.cards-stripe {
  padding: 40px 0;
}

.cards-stripe > ul {
  list-style: none;
  margin: 0;
  padding: 32px 48px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
  background-color: #fff;
}

.cards-stripe > ul > li {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  padding: 0;
}

.cards-stripe .cards-stripe-card-image {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  line-height: 0;
}

.cards-stripe > ul > li img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  aspect-ratio: auto;
}

.cards-stripe .cards-stripe-card-body {
  margin: 0;
}

.cards-stripe .cards-stripe-card-body p {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #1e222a;
  line-height: 20px;
}
